/*global styles*/
html{background-color: #F9F9F9;}
	body{font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;}

/*calendar*/
	.calendar-wrapper{margin: 15px; font: 13px/14px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #040404; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;}
		.fc-header-title h2{margin: 10px 0 25px;font-size: 28px; color: #444;text-align: center;}
	.fc-day{font-size: 16px;}
	.event-for-week{padding: 6px 4px;text-transform: uppercase; position: relative; background-color: #fff; font-size: 12px;line-height: 14px;border-bottom: 1px solid #f0f0f0;
		-webkit-transition: all .2s;
		-moz-transition: all .2s;
		-ms-transition: all .2s;
		-o-transition: all .2s;
		transition: all .2s;}
		.event-for-week:first-child{border-top: 1px solid #f0f0f0;}
		/*types
		event type 1 - Лекция
		event type 2 - Экзамен
		event type 3 - Практическое занятие
		event type 4 - Контрольная работа
		event type 5 - Зачет
		event type 6 - Семинар
		event type 7 - Коллоквиум
		event type 8 - Внеучебное занятие
		*/
.event-for-week:before {content: '';position: absolute;top: 0;right: 0;width: 7px;height: 100%;}
	.event-for-week[data-type="1"]:before{/*background-color: #CCF7CC;*/background-color: #dff0d8;}
	.event-for-week[data-type="2"]:before{/*background-color: #FFB4B4;*/	background-color: #FCCED0;}
	.event-for-week[data-type="3"]:before{background-color: #CAE0F5;}
	.event-for-week[data-type="4"]:before{background-color: #EDC8E9;}
	.event-for-week[data-type="5"]:before{background-color: #ffe0b2;}
	.event-for-week[data-type="6"]:before{background-color: #C8EDE6;}
	.event-for-week[data-type="7"]:before{background-color: #DBDFE3;}
	.event-for-week[data-type="8"]:before{background-color: #FDFFBD;}
	.event-type-circle[data-type="1"]{/*background-color: #CCF7CC;*/background-color: #dff0d8;}
	.event-type-circle[data-type="2"]{/*background-color: #FFB4B4;*/	background-color: #FCCED0;}
	.event-type-circle[data-type="3"]{background-color: #CAE0F5;}
	.event-type-circle[data-type="4"]{background-color: #EDC8E9;}
	.event-type-circle[data-type="5"]{background-color: #ffe0b2;}
	.event-type-circle[data-type="6"]{background-color: #C8EDE6;}
	.event-type-circle[data-type="7"]{background-color: #DBDFE3;}
	.event-type-circle[data-type="8"]{background-color: #FDFFBD;}
	.event-for-week:hover{cursor: pointer; opacity: .85;}
	/*popup event*/
	.page-popup{position: fixed; width: 100%; height: 100%; background: rgba(26, 26, 26, 0.6); z-index: 10; top: 0; left: 0;font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #666;}
		.page-popup.event-popup{}
			.page-popup-content{margin: 10% auto 0;padding: 20px 20px;width: 50%;min-width: 700px;max-width: 1000px;background-color: #fff; border-radius: 3px;
				border: 1px solid transparent;
				-webkit-transition: all .3s;
				-moz-transition: all .3s;
				-ms-transition: all .3s;
				-o-transition: all .3s;
				transition: all .3s;
				-webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
				box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);}
			.page-popup-content h4{padding: 0 0 20px 5px; font-size: 25px; font-weight: bold;}
			.page-popup-content p{padding: 4px 5px;margin: 5px 0;display: block; font-size: 18px;line-height: 27px;border-bottom: 1px solid rgba(33, 150, 243, 0.31);background-color: #EAF5FD;width: 100%;}
				.page-popup._show .page-popup-content{margin: 0 auto 0;}
		.default-button{text-transform: uppercase;border: 1px solid transparent;border-right: none;border-bottom: none;color: #fff;background-color: #2196f3;border-color: transparent;
			font-weight: normal;
			text-align: center;
			vertical-align: middle;
			-ms-touch-action: manipulation;
			touch-action: manipulation;
			cursor: pointer;
			background-image: none;
			white-space: nowrap;
			padding: 6px 16px;
			border-radius: 3px;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
			-webkit-background-size: 200% 200%;
			background-size: 200%;
			background-position: 50%;
			-webkit-box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
			box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
			-webkit-transition: all 0.2s;
			-o-transition: all 0.2s;
			transition: all 0.2s;}
				.default-button:hover{  background-color: #0d87e9;}
				.default-button:active {outline: 0;
					background-image: none;
					-webkit-box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
					box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
					background-color: #0d87e9;
					background-image: -webkit-radial-gradient(circle, #0d87e9 10%, #2196f3 11%);
					background-image: -o-radial-gradient(circle, #0d87e9 10%, #2196f3 11%);
					background-image: radial-gradient(circle, #0d87e9 10%, #2196f3 11%);
					background-repeat: no-repeat;
					-webkit-background-size: 1000% 1000%;
					background-size: 1000%;
					-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
					box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
				}
		.popup-close{float: right;color: #000000;text-shadow: none;cursor: pointer;background: transparent;border: 0;-webkit-appearance: none;font-size: 34px;font-weight: 300;line-height: 24px;opacity: 0.6;-webkit-transition: all 0.2s;-o-transition: all 0.2s;transition: all 0.2s;}
		.popup-close:hover{opacity: 1;}
		.event-type-circle{margin: 0 5px 2px; display: inline-block; vertical-align: middle; width: 6px; height: 6px; border: 1px solid #7B7777; border-radius: 50%; -webkit-border-radius: 50%; -moz-border-radius: 50%;}
			.page-text-bold{font-weight: bold;}
	.popup-part {display: inline-block;	width: 30%;	vertical-align: top;}
		.popup-part._right{width: 65%;}

/*text styles*/
	.page-caption{margin: 20px 0; font-size: 40px; color: #444; text-align: center;}

/*select params styles*/
	.page-wrapper__link{font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0; line-height: 0; width: 100%; text-align: center; position: relative;}
	.main-link__i{width: 23%; max-width: 300px; min-width: 180px; margin: 2%;height: 160px;	padding: 0 10px; display: inline-block; text-transform: uppercase; vertical-align: top; text-align: center; font-size: 20px; line-height: 26px; text-decoration: none;color: #666;
		border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
		border-right: none;
		border-bottom: none;
		-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: #fff;
		border-color: #eee;
		-webkit-background-size: 200% 200%;
		background-size: 200%;
		background-position: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;}
	.main-link__i:hover, .main-link__i:active:hover, .main-link__i:focus {background-color: #f0f0f0; text-decoration: none;}
	.main-link__i:hover {color: #666;	background-color: #f3f3f3;border-color: #cfcfcf;font-size: 21px;}
	.main-link__i:active {background-color: #f0f0f0;
		background-image: -webkit-radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
		background-image: -o-radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
		background-image: radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
		background-repeat: no-repeat;
		-webkit-background-size: 1000% 1000%;
		background-size: 1000%;
		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);}
	.main-link__i.course-link, .main-link__i.group-link{font-size: 24px; padding: 0;}
	.main-link__i.course-link:hover, .main-link__i.group-link:hover{font-size: 27px;}
	.link-name_layer {height: 100%;text-align: center;}
		.link-name_layer p {display: inline-block;	vertical-align: middle;}
		.link-name_layer:before { content: "";display: inline-block;min-height: inherit;height: 100%;vertical-align: middle;}


	.page-search{padding: 4px 30px; margin: 50px auto;  width: 30%; min-width: 100px; max-width: 500px;display: block; border: none; font-size: 16px;line-height: 1.846;color: #666;
		background: url(/images/search-icon.png) 0 10px no-repeat;
		-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
		-webkit-appearance: none;
		-webkit-box-shadow: inset 0 -1px 0 #dddddd;
		box-shadow: inset 0 -1px 0 #dddddd;
		background-color: transparent;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.page-search:focus, .page-form:focus{	border-color: #66afe9;	outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		-webkit-box-shadow: inset 0 -2px 0 #2196f3;
		box-shadow: inset 0 -2px 0 #2196f3; }


    /*events filter*/
	.page-form{padding: 4px 5px; margin: 0 20px; /*width: 30%;*/ width: inherit; min-width: 200px; max-width: 500px;display: block; border: none; font-size: 16px;line-height: 1.846;color: #666;
		-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
		-webkit-appearance: none;
		-webkit-box-shadow: inset 0 -1px 0 #dddddd;
		box-shadow: inset 0 -1px 0 #dddddd;
		background-color: transparent;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;}
	.page-form.page-select{margin: 0;}
	.page-form.teacher-input{margin: 0;}
	.type-filter{ width: 30%; min-width: 200px; max-width: 500px;}
	.dropdown dd, .dropdown dt {margin:0;padding:0;}
	.dropdown ul {margin: -1px 0 0;}
	.dropdown dd {position:relative;z-index:10;}
		.dropdown a, .dropdown a:visited {color:#040404;text-decoration:none;outline:none;}
		.dropdown dt a {display:block; overflow: hidden;}
			.dropdown dt a span, .multiSel span {padding: 0 3px 0 0;cursor:pointer;display:inline-block;color: #928F8F;	}
		.mutliSelect{  position: absolute;left: 0;right: 0;width: 100%;}
		.multiSel span {color: #040404!important; font-size: 12px;}
		.mutliSelect li {margin: 5px 0; font-size: 14px;}
	.dropdown dd ul {display:none; padding: 4px 5px; left: 0;top: 2px; border:0; color: #040404; background: #fff; position: absolute;width: 100%; list-style: none;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;}
		.dropdown span.value {display:none;}
		.dropdown dd ul li a {padding:5px;display:block;}
			.dropdown dd ul li a:hover {background-color:#fff;}
		input[type="checkbox"]{
			position: relative;
			vertical-align: -4px;
			border: none;
			-webkit-appearance: none;
			appearance: none;
			cursor: pointer;
		}
		input[type="checkbox"]:before{content: "";position: absolute;top: 0;left: 6px;display: table;width: 6px;height: 12px;border: 2px solid #fff;border-top-width: 0;border-left-width: 0;
			-webkit-transform: rotate(45deg);
			-ms-transform: rotate(45deg);
			-o-transform: rotate(45deg);
			transform: rotate(45deg);
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		input[type="checkbox"]:after{content: "";display: block;width: 18px;height: 18px;margin-top: -2px;margin-right: 5px;border: 2px solid #666666;border-radius: 2px;
			-webkit-transition: 240ms;
			-o-transition: 240ms;
			transition: 240ms;
			-webkit-box-sizing: border-box;
			-moz-box-sizing: border-box;
			box-sizing: border-box;
		}
		input[type="checkbox"]:checked:after{background-color: #2196f3;	border-color: #2196f3;}
	.teacher-filter {margin: 0 20px; display: inline-block;vertical-align: top;}
	.type-filter {margin: 0 20px; display: inline-block;vertical-align: top;}
	.filter-wrapper {
		margin: 0 0 30px;
		display: block;
	}
	.clearfix {clear: both; float: none;}

	.filter-button {display: inline-block;vertical-align: top;margin: 0 20px;padding: 6px 15px;height: 37px;font-size: 14px;color: #666;background-color: #fff;border-color: #eee;border-right: none;border-bottom: none;border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
		-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		-webkit-background-size: 200% 200%;
		background-size: 200%;
		background-position: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;}
		.filter-button:hover, .filter-button:active:hover, .filter-button:focus {background-color: #f0f0f0; text-decoration: none;}
		.filter-button:hover {color: #666;	background-color: #f3f3f3;border-color: #cfcfcf;}
		.filter-button:active {background-color: #f0f0f0;
			background-image: -webkit-radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
			background-image: -o-radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
			background-image: radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
			background-repeat: no-repeat;
			-webkit-background-size: 1000% 1000%;
			background-size: 1000%;
			-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
			box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);}
/*end events filter*/
