/*global styles*/
html{background-color: #F9F9F9;}
	body{font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;}

/*calendar*/
	.calendar-wrapper{margin: 15px; font: 13px/14px "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; color: #040404; font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;}
		.fc-header-title h2{margin: 10px 0 25px;font-size: 28px; color: #444;text-align: center;}
	.fc-day{font-size: 16px;}
	.event-for-week{padding: 6px 4px;text-transform: uppercase; font-size: 12px;line-height: 14px;border-bottom: 1px solid #f0f0f0;}
		.event-for-week:first-child{border-top: 1px solid #f0f0f0;}
		/*types
		event type 1 - Лекция
		event type 2 - Экзамен
		event type 3 - Практическое занятие
		event type 4 - Контрольная работа
		event type 5 - Зачет
		event type 6 - Семинар
		event type 7 - Коллоквиум
		event type 8 - Внеучебное занятие
		*/
	.event-for-week[data-type="1"]{
		/*background-color: #CCF7CC;*/
		background-color: #dff0d8;
	}
	.event-for-week[data-type="2"]{
		/*background-color: #FFB4B4;*/
		background-color: #FCCED0;
	}
	.event-for-week[data-type="3"]{
		background-color: #CAE0F5;
	}
	.event-for-week[data-type="4"]{
		background-color: #EDC8E9;
	}
	.event-for-week[data-type="5"]{
		background-color: #ffe0b2;
	}
	.event-for-week[data-type="6"]{
		background-color: #C8EDE6;
	}
	.event-for-week[data-type="7"]{
		background-color: #DBDFE3;
	}
	.event-for-week[data-type="8"]{
		background-color: #FDFFBD;
	}

	/*popup event*/
	.page-popup{position: fixed; width: 100%; height: 100%; background: rgba(26, 26, 26, 0.6); z-index: 10; top: 0; left: 0;}
		.page-popup.event-popup{}
			.page-popup-content{margin: 0 auto;padding: 51px 0;width: 50%;min-width: 700px;max-width: 1000px;background-color: #fff;}
				.page-popup._show .page-popup-content{}
/*text styles*/
	.page-caption{margin: 20px 0; font-size: 40px; color: #444; text-align: center;}

/*select params styles*/
	.page-wrapper__link{font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 0; line-height: 0; width: 100%; text-align: center; position: relative;}
	.main-link__i{width: 23%; max-width: 300px; min-width: 180px; margin: 2%;height: 160px;	padding: 0 10px; display: inline-block; text-transform: uppercase; vertical-align: top; text-align: center; font-size: 20px; line-height: 26px; text-decoration: none;color: #666;
		border-radius: 3px; -webkit-border-radius: 3px; -moz-border-radius: 3px;
		border-right: none;
		border-bottom: none;
		-webkit-box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);	box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
		-webkit-transition: all 0.2s;
		-o-transition: all 0.2s;
		transition: all 0.2s;
		-webkit-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		background-color: #fff;
		border-color: #eee;
		-webkit-background-size: 200% 200%;
		background-size: 200%;
		background-position: 50%;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;}
	.main-link__i:hover, .main-link__i:active:hover, .main-link__i:focus {background-color: #f0f0f0; text-decoration: none;}
	.main-link__i:hover {color: #666;	background-color: #f3f3f3;border-color: #cfcfcf;font-size: 21px;}
	.main-link__i:active {background-color: #f0f0f0;
		background-image: -webkit-radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
		background-image: -o-radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
		background-image: radial-gradient(circle, #f0f0f0 10%, #ffffff 11%);
		background-repeat: no-repeat;
		-webkit-background-size: 1000% 1000%;
		background-size: 1000%;
		-webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);
		box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.3);}
	.main-link__i.course-link, .main-link__i.group-link{font-size: 24px; padding: 0;}
	.main-link__i.course-link:hover, .main-link__i.group-link:hover{font-size: 27px;}
	.link-name_layer {height: 100%;text-align: center;}
		.link-name_layer p {display: inline-block;	vertical-align: middle;}
		.link-name_layer:before { content: "";display: inline-block;min-height: inherit;height: 100%;vertical-align: middle;}


	.page-search{padding: 4px 30px; margin: 50px auto;  width: 30%; min-width: 100px; max-width: 500px;display: block; border: none; font-size: 16px;line-height: 1.846;color: #666;
		background: url(/images/search-icon.png) 0 10px no-repeat;
		-webkit-border-radius: 0; -moz-border-radius: 0; border-radius: 0;
		-webkit-appearance: none;
		-webkit-box-shadow: inset 0 -1px 0 #dddddd;
		box-shadow: inset 0 -1px 0 #dddddd;
		background-color: transparent;
		-webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
		-o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
		transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
	}
	.page-search:focus{	border-color: #66afe9;	outline: 0;
		-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, 0.6);
		-webkit-box-shadow: inset 0 -2px 0 #2196f3;
		box-shadow: inset 0 -2px 0 #2196f3; }


    /*events view*/
.dropdown dd, .dropdown dt {
    margin:0px;
    padding:0px;
}
.dropdown ul {
    margin: -1px 0 0 0;
}
.dropdown dd {
    position:relative;
    z-index:10;
}
.dropdown a,
.dropdown a:visited {
    color:#000;
    text-decoration:none;
    outline:none;
    font-size: 12px;
    background: #fff;
}
.dropdown dt a {
    display:block;
    padding: 8px 20px 5px 10px;
    min-height: 25px;
    line-height: 24px;
    overflow: hidden;
    border:0;
    width:272px;
}
.dropdown dt a span, .multiSel span {
    cursor:pointer;
    display:inline-block;
    padding: 0 3px 2px 0;
    color: #928F8F;
}
.multiSel span {
    color: #000000!important;
}
.dropdown dd ul {
    border:0;
    color:#000;
    background: #fff;
    display:none;
    left:0px;
    padding: 2px 15px 2px 5px;
    position:absolute;
    top:2px;
    width:280px;
    list-style:none;
    height: 100px;
    overflow: auto;
}
.dropdown span.value {
    display:none;
}
.dropdown dd ul li a {
    padding:5px;
    display:block;
}
.dropdown dd ul li a:hover {
    background-color:#fff;
}
.teacher-input {
  border: none;
  padding: 12px;
  margin: 0 20px;
  width: 260px;
}
.teacher-filter {
    float: left;
}
.teacher-filter {
    float: left;
}

.type-filter {
    float: left;
}

.filter-wrapper {
    margin: 0 0 30px;
    display: block;
}
.clearfix {
    clear: both; float: none;
}
.filter-button {
    float: left;
    padding: 11px 15px;
    font-size: 13px;
    margin: 0 20px;
    background-color: #E6E6E6;
    border: 1px solid #DBD8D8;
    cursor: pointer;
}

.filter-button:hover {
    background-color: #0d87e9;
    color: #fff;
}
    /*end events view*/
