<template name="eventsOfGroup">
	<div class="page-popup event-popup" hidden></div>
	<div class="page-caption">Календарь событий</div>
		<!--{{#each events}}-->
			<!--{{event_name}}-->
		<!--{{/each}}-->
		<!-- {{#if isInRole 'admin'}}
			<h2>Вопрос решен</h2>
		{{/if}} -->
    <div class="filter-wrapper">
        <div class="teacher-filter">
            <!--<input type="text" class="" placeholder="Преподаватель"/>-->
            <input class="form-control typeahead teacher-input page-form" type="text" placeholder="Преподаватель" autocomplete="off" spellcheck="off" data-source="teachers"/>
        </div>


        <div class="type-filter">
            <dl class="dropdown">
                <dt>
                <a href="#" class="page-form page-select">
                  <span class="hida">Тип события</span>
                  <p class="multiSel"></p>
                </a>
                </dt>
                <dd>
					<div class="mutliSelect">
                        <ul>
                            <li>
                                <label><input type="checkbox" value="1" /><span>Лекция</span></label></li>
                            <li>
                                <label><input type="checkbox" value="2" /><span>Экзамен</span></label></li>
                            <li>
                                <label><input type="checkbox" value="3" /><span>Практическое занятие</span></label></li>
                            <li>
                                <label><input type="checkbox" value="4" /><span>Контрольная работа</span></label></li>
                            <li>
                                <label><input type="checkbox" value="5" /><span>Зачет</span></label></li>
                            <li>
                                <label><input type="checkbox" value="6" /><span>Семинар</span></label></li>
                            <li>
                                <label><input type="checkbox" value="7" /><span>Коллоквиум</span></label></li>
                            <li>
                                <label><input type="checkbox" value="8" /><span>Внеучебное занятие</span></label></li>
                        </ul>
                    </div>
                </dd>

            </dl>
        </div>
        <div class="filter-button filter-btn fc-button">ИСКАТЬ</div>
    </div>
    <div class="clearfix"></div>
	<div class="calendar-wrapper">
		{{>calendar}}
	</div>
</template>